

<div class="author-card"> 
   <div class="author-info"> 
        {{#if profile_image}}
            <a href="{{url}}"> <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}  /> </a>
        {{else}}
            <a href="{{url}}"> <span class="author-profile-image">{{> "icons/avatar"}}</span> </a>
        {{/if}}
            <a href="{{url}}">{{name}}</a>
            {{#if bio}}
                <i>{{bio}}</i>
            {{/if}}
                ({{plural count.posts empty='No posts' singular='% post' plural='% posts'}})   
   </div>
</div>
        
