{{!--
This template is used for the table of contents page.
You must first create a page called Authors in the dashboard to enable it.
--}}

{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header">
    <div class="outer site-nav-main">
        <div class="inner">
            {{> "site-nav"}}
        </div>
    </div>
</header>

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main id="site-main" class="site-main outer">
    <div class="inner">

        <article class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

            <header class="post-full-header">
                <h1 class="post-full-title">{{title}}</h1>
            </header>

            {{#if feature_image}}
            <figure class="post-full-image">
                {{!-- This is a responsive image, it loads different sizes depending on device
                https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                <img
                    srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w"
                    sizes="(max-width: 800px) 400px,
                            (max-width: 1170px) 1170px,
                            2000px"
                    src="{{img_url feature_image size="xl"}}"
                    alt="{{title}}"
                />
            </figure>
            {{/if}}

            <section class="post-full-content">
                <div class="post-content"> 
                      {{content}}
                      
                      {{!--
                      {{#get 'tags' limit='all' include='count.posts,tags' order='count.posts desc' as |ptags|}}
                           {{#foreach ptags}}
                               <h3> {{name}} </h3>
                               Posts: {{count.posts}}
                               Name: {{name}}
                               Desc: {{description}}
                               Primary Tag: {{primary_tag.name}}
                               
                               
                              {{#get "posts" filter="tag:{{name}}" include="authors,tags" limit="all" as |articles pages|}}
                                   <ol> 
                                    {{#foreach articles}}
                                      <li> <a href="{{url}}">{{title}}</a>, {{tags}}, {{primary_tag}} </li>
                                    {{/foreach}} 
                                    </ol>
                              {{/get}}
                           {{/foreach}}
                      {{/get}} --}}
                      
                      <h2> 2020 </h2>
                      
                      {{#get "posts" filter='published_at:>="2020-01-01 00:00:00"+published_at:<"2020-12-31 23:59:59"' include="count.posts, authors,tags" limit="all"}}
                        Count: {{count.posts}}
                        {{#foreach posts}}
                            POST 2020: {{title}}, {{primary_tag.name}}, {{tags}}
                        {{/foreach}}
                      {{/get}}
                      
                      <h2> Earlier </h2>
                                            
                      {{#get "posts" filter='published_at:<"2020-01-01"' include="count.posts, authors,tags" limit="all"}}
                        Count: {{count.posts}}
                        {{#foreach posts}}
                            POST 2020: {{title}}, {{primary_tag.name}}, {{tags}}
                        {{/foreach}}
                      {{/get}}
    
                      
                      
                      - - - 
                      
                      {{#get "posts" include="authors,tags" limit="all"}}
                            <small>
                              <ul>
                              {{#foreach posts}}
                                 <li>                           
                                 <a href="{{url}}">{{title}}</a>,        
                                 by {{authors}} on {{date}}. 
                                 {{#if tags}} [{{tags}}].  {{/if}}
                                </li>
                              {{/foreach}} 
                              </ul>
                           </small>   
                      {{/get}}
                      
                </div> 
            </section>
        </article>
    </div>
</main>

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
    $(function() {
        var $postContent = $(".post-full-content");
        $postContent.fitVids();
    });
</script>
{{/contentFor}}




